.home {

  h1, h2, h3 {
    text-align: center;
  }

  .intro {
    height: 600px;
    width: 100%;
    background: #fff center / cover url("images/roxanne-desgagnes-qbtyUQtqJ8k-unsplash.jpg");

    h1 {
      color: #fff;
      text-shadow: 0 0 4px rgba(0, 0, 0, .50);
      font-size: $font-size-base * 5;
      font-weight: 400;
      margin: 1em auto 2em;

      & em {
        font-weight: 900;
        font-style: normal;
      }
    }

    h2 {
      color: #fff;
      font-size: $font-size-base * 3.5;
      text-shadow: 0 0 2px rgba(0, 0, 0, .25);
    }

    form.dataset-search {
      display: block;
      width: 40em;
      margin: 3rem auto;

      input.search {
        width: 30em;
      }

      button {
        top: 0px;
      }
    }
  }

  /* Onramp is a block of ways to get to data or other content */
  .onramp {

    margin-top: 3rem; margin-bottom: 3rem;
    padding-top: 3rem; padding-bottom: 3rem;

    h2 {
      text-align: center;
      font-weight: bold;
      font-size: $font-size-base * 3;
      margin: 2rem auto 1rem;
    }

    h3 {
      width: 40em;
      margin: 2em auto;
      text-align: center;
      font-size: $font-size-base * 1.5;
    }
  }

  .categories {
    background-color: $layoutBackgroundColor;

    .categories--categories {
      margin: 1em auto;
      text-align: center;
      .categories--category {
        width: 15em;
        text-align: center;
        display: inline-block;
        padding: 1rem 3rem;
        img {
          width: 100%;
          display: block;
        }
        p {
          font-size: $font-size-base * 1.25;
          font-weight: bold;
        }
      }
    }

  }

  .showcases {
    min-height: 600px;
    background: #fff center / cover url("images/lina-jarczyk-9cCjKsKeeng-unsplash.jpg");
    &.onramp {
      h2 {
        color: #fff;
        text-shadow: 0 0 5px rgba(0, 0, 0, .80);
      }
      h3 {
        background-color: rgba(255, 255, 255, .75);
        padding: 1em;
      }
    }
  }

  .home-groups {
    .media-list {
      width: 50em;
      margin: 2rem auto;
      li {
        padding: 1rem;
        &:hover {
          background-color: darken($body-bg, 10);
        }
        a {
          color: $text-color;
          h4 {
            font-weight: bold;
            margin-top: 0;
          }
          img.media-object {
            width: 20rem;
          }
        }
      }
    }
  }

  .home-organizations {
    ul {
      width: 40em;
      margin: 2rem auto;
      padding: 0;
      li.media-item {
        height: 28rem;
        display: inline-block;
        list-style-type: none;
        margin: 1rem;
        padding: 2rem;
        width: 25rem;
        h3 {
          width: auto;
          text-align: left;
          margin: 1rem auto 1rem;
        }
        &:hover {
          background-color: darken($body-bg, 10);
        }
        img {
          max-height: 10rem;
        }
      }
    }
  }
}
